html {
	font-family: "Lato";
	font-size: 16px;
}

.avatar {
	border: 3px solid;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	height: 150px;
}

body {
	height: 100%;
	width: 100%;
}

.container {
	background: #eeeeee;
}

.container-title {
	padding: 1% 0;
	color: #333333;
	font-weight: 700;
	font-size: 1.5em;
	text-indent: 5%;
}

.container-text {
	color: #404040;
	padding: 10px 0;
	text-indent: 5%;
}

.course-logo {
	border-radius: 10%;
	height: 80px;
	width: 80px;
}

.course-description {
	font-size: 1.3em;
}

.course-title {
	font-weight: 700;
}

.course-date {
	font-size: 400;
}

.course-download {
	font-size: 300;
}

.course-logo, .course-description {
	display: inline-block;
}

.course .icon-award-fill {
	color: gray;
}

footer {
	height: 100px;
	background: #666666;
	text-align: center;
	vertical-align: top;
	/*background: #aaaaaa;*/
}

.header {
	text-align: center;
	padding-top: 75px;
	background: gray;
	height: 375px;
	color: white;
}

.header h1, h2, h3 {
	margin: 0 0 10px 0;
}

.header h1 {
	margin-top: 30px;
	font-weight: 900;
}

.header h2 {
	font-weight: 700;
}

.header h3 {
	font-weight: 400;
}

.languages-logo {
	border-radius: 10%;
	height: 60px;
	width: 75px;
}

.languages-description {
	font-size: 1.3em;
}

.languages-title {
	font-weight: 700;
}

.menu {
	text-decoration: none;
}

	.menu-mobile-icon {
	display: none;
}

.menu-item {
	float: right;
	margin-top: 0.2%;
	display: inline-block;
}

nav ul li a {
	font-weight: 700;
	font-size: 1.2em;
	color: #eeeeee;
	padding: 15px 5px;
	margin: 1px 10px;
	text-decoration: none;
}

nav ul li a:hover {
	border-top: 3px solid #eeeeee;
}

.navigation {
	background: #005288;
	height: 60px;
	position: fixed;
	width: 100%;
}

p {
	margin: 0;
}

#p-introduction {
	color: #333333;
	padding: 3% 0;
	font-weight: 400;
	font-size: 1.4em;
	text-align: center;
	text-indent: 0;
	font-style: italic; 
}

.studies-title {
	font-weight: 700;
}

.studies-date {
	font-weight: 300;
}

.studies-university {
	font-weight: 400;
}

.studies-logo {
	border-radius: 10%;
	height: 80px;
	width: 80px;
}

.studies-description {
	font-size: 1.3em;
}

.studies-description, .studies-logo {
	display: inline-block;
}

.socialnetworks-description {
	display: inline-block;
}

.socialnetworks-logo {
	border-radius: 10%;
	display: inline-block;
	height: 30px;
	width: 30px;
}

@media screen and (max-width: 800px) {

	html {
		font-size: 12px;
	}
	
	.navigation {

		background: #005288;
		position: fixed;
		width: 80%;
		height: 100%;
		left: -100%;
		margin: 0;
		padding: 60px 0 0 0;
	}

	.menu {
		margin: 0;
		padding: 0;
	}

	.menu-item {
		margin-top: 0.2%;
		display: block;
		padding: 2% 0 2% 0;
		float: none;
		border-bottom: 1px solid white;
		width: 100%;
	}

	nav ul li a:hover {
		border-top: none;
	}

	.menu-mobile-icon {
		position: fixed;
		display: block;
		height: 60px;
		width: 100%;
		background: #005288;
	}

	.menu-mobile-icon .menu-boton {
		display: block;
		background: #005288;
		font-weight: bold;
		float: right;
		font-size: 20px;
		text-decoration: none;
		color: white;
	}

	.menu-mobile-icon span {
		padding: 15px;
		font-size: 30px;
		float: right;
	}

	.course-logo {
		padding-left: 5%;
	}

	.course-logo, .course-description {
		display: block;
	}

	.studies-description, .studies-logo {
		display: block;
	}

	.studies-logo {
		padding-left: 5%;
	}
}
	/*

	.menu_bar {
		display: block;
		width: 100%;
		background: gray; 
	}

	.menu_bar .boton-menu {
		display: block;
		padding: 20px;
		background: gray;
		font-weight: bold;
		text-decoration: none;
		color: white;
	}

	.menu_bar span {
		padding-bottom: 25px;
		font-size: 15px;
		float: right;
	}
} */




