$nav-color: #424242
$burger-button-color: #757575

nav .brand-logo 
	color: $nav-color
	padding: 0 0 0 20px

nav ul a 
	color: $nav-color	

nav .button-collapse i 
	color: #757575

/*Containers*/

article 
	margin-top: 100px 
	margin-bottom: 0