html {
	font-family: "Lato";
	font-size: 16px;
}

.area-header {
	padding: 1% 0;
	color: #333333;
	font-weight: 700;
	font-size: 1.5em;
	text-indent: 5%;
}

.area-logo, .area-text {
	display: inline-block;
}

.area-logo {
	border-radius: 10%;
	height: 80px;
	width: 80px;
}

.area-description {
	text-indent: 5%;
	padding-bottom: 1em;
}

.area-description a {
	text-decoration: none;
	color: #404040;
}

.area-text {
	color: #404040;
	font-size: 1.3em;
	width: 70%;
}

.area-title {
	font-weight: 700;
}

.area-company {
	font-weight: 400;
}

.area-date {
	font-weight: 300;
}

.avatar {
	border: 3px solid;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	height: 150px;
}

a {
	text-decoration: none;

}

body {
	height: 100%;
	width: 100%;
}

.container {
	background: #eeeeee;
}

.course .icon-award-fill {
	color: gray;
}

footer {
	height: 100px;
	background: #666666;
	text-align: center;
	vertical-align: top;
}

.header {
	text-align: center;
	padding-top: 75px;
	background: url("../media/header-cover.png") no-repeat center; 
	background-size: cover;  
	height: 375px;
	color: white;
}

.header h1, h2, h3 {
	margin: 0 0 10px 0;
}

.header h1 {
	margin-top: 30px;
	font-weight: 900;
}

.header h2 {
	font-weight: 700;
}

.header h3 {
	font-weight: 400;
}

.menu {
	padding-left: 0;
	text-decoration: none;
}

.menu-mobile-icon {
	display: none;
}

.menu-item {
	float: left;
	margin-top: 0.2%;
	display: inline-block;
}

nav ul li a {
	font-weight: 700;
	font-size: 1.2em;
	color: #eeeeee;
	padding: 15px 5px;
	margin: 1px 10px;
	text-decoration: none;
}

nav ul li a:hover {
	border-top: 3px solid #eeeeee;
}

.navigation {
	background: #005288;
	height: 60px;
	position: fixed;
	width: 100%;
}

p {
	margin: 0;
}

#p-introduction {
	color: #333333;
	padding: 3% 0;
	font-weight: 400;
	font-size: 1.4em;
	text-align: center;
	text-indent: 0;
	font-style: italic; 
}

.socialnetworks-description {
	display: inline-block;
}

.socialnetworks-logo {
	border-radius: 10%;
	display: inline-block;
	height: 30px;
	width: 30px;
}

@media screen and (max-width: 800px) {

	html {
		font-size: 12px;
	}

	.area-header {
		text-align: center;
	}

	.area-text, .area-logo {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.area-text {
		text-align: center;
		font-size: 1.2em;
	}
	
	.navigation {
		background: #005288;
		position: fixed;
		width: 80%;
		height: 100%;
		left: -100%;
		margin: 0;
		padding: 60px 0 0 0;
	}

	.menu {
		margin: 0;
		padding: 0;
	}

	.menu-item {
		margin-top: 0.2%;
		display: block;
		padding: 2% 0 2% 0;
		float: none;
		border-bottom: 1px solid white;
		width: 100%;
	}

	nav ul li a:hover {
		border-top: none;
	}

	.menu-mobile-icon {
		position: fixed;
		display: block;
		height: 60px;
		width: 100%;
		background: #005288;
	}

	.menu-mobile-icon .menu-boton {
		display: block;
		background: #005288;
		font-weight: bold;
		float: right;
		font-size: 20px;
		text-decoration: none;
		color: white;
	}

	.menu-mobile-icon span {
		padding: 15px;
		font-size: 30px;
		float: right;
	}
}
	




