html {
	font-family: "Lato";
	font-size: 16px;
}

.avatar {
	border: 3px solid;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
	height: 150px;
}

a {
	text-decoration: none;

}

body {
	height: 100%;
	width: 100%;
}

.container {
	height: 500px;
	background: #fff;
}

footer {
	height: 100px;
	background: #666666;
	text-align: center;
	vertical-align: top;
}

.form-container {
	background: #eeeeee;
	box-shadow: 1px 1px 3px #888888;
	display: block;
	margin-top: 7%;
	margin-right: auto;
	margin-left: auto;
	height: 400px;
	width: 600px;
}

.form-fields {
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	padding-left: 10px;
	height: 44px;
	width: 400px;
	display: block;
}

#form-text-area {
	height: 100px;
}

.form-btn{
	background: #3079ed;
	border: 0;
	color: #fff;
	display: block;
	height: 50px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	width: 415px;
}

.formulario {
	padding: 30px 0;
}

.header {
	text-align: center;
	padding-top: 75px;
	background: gray;
	height: 375px;
	color: white;
}

.header h1, h2, h3 {
	margin: 0 0 10px 0;
}

.header h1 {
	margin-top: 30px;
	font-weight: 900;
}

.header h2 {
	font-weight: 700;
}

.header h3 {
	font-weight: 400;
}

.menu {
	padding-left: 0;
	text-decoration: none;
}

.menu-mobile-icon {
	display: none;
}

.menu-item {
	float: left;
	margin-top: 0.2%;
	display: inline-block;
}

nav ul li a {
	font-weight: 700;
	font-size: 1.2em;
	color: #eeeeee;
	padding: 15px 5px;
	margin: 1px 10px;
	text-decoration: none;
}

nav ul li a:hover {
	border-top: 3px solid #eeeeee;
}

.navigation {
	background: #005288;
	height: 60px;
	position: fixed;
	width: 100%;
}

p {
	margin: 0;
}

#p-introduction {
	color: #333333;
	padding: 3% 0;
	font-weight: 400;
	font-size: 1.4em;
	text-align: center;
	text-indent: 0;
	font-style: italic; 
}

.socialnetworks-description {
	display: inline-block;
}

.socialnetworks-logo {
	border-radius: 10%;
	display: inline-block;
	height: 30px;
	width: 30px;
}

textarea {
	resize: none;
}

@media screen and (max-width: 800px) {

	html {
		font-size: 12px;
	}

	input,
	textarea { 
		border-radius: 0;
		-webkit-appearance: none; 
		box-shadow: none !important;
		border: 1px solid gray; 
	}



	.form-container {
		background: #eeeeee;
		box-shadow: 1px 1px 3px #888888;
		display: block;
		margin-top: 7%;
		margin-right: auto;
		margin-left: auto;
		height: 400px;
		width: 250px;
	}

	.form-fields {
	width: 200px;
}

#form-text-area {
	height: 100px;
}

.form-btn{

	width: 215px;
}
	
	.navigation {
		background: #005288;
		position: fixed;
		width: 80%;
		height: 100%;
		left: -100%;
		margin: 0;
		padding: 60px 0 0 0;
	}

	.menu {
		margin: 0;
		padding: 0;
	}

	.menu-item {
		margin-top: 0.2%;
		display: block;
		padding: 2% 0 2% 0;
		float: none;
		border-bottom: 1px solid white;
		width: 100%;
	}

	nav ul li a:hover {
		border-top: none;
	}

	.menu-mobile-icon {
		position: fixed;
		display: block;
		height: 60px;
		width: 100%;
		background: #005288;
	}

	.menu-mobile-icon .menu-boton {
		display: block;
		background: #005288;
		font-weight: bold;
		float: right;
		font-size: 20px;
		text-decoration: none;
		color: white;
	}

	.menu-mobile-icon span {
		padding: 15px;
		font-size: 30px;
		float: right;
	}
}
	




